<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="App.js"></script>
   
 </head>
 <body ng-app="NarrowItDownApp">
  <div class="container" ng-controller="NarrowItDownController as narrow">
    <div class="row">
     <h1>Narrow Down Your Chinese Menu Choice</h1>
     <input type="text" id="search" placeholder="search term" style="padding-left:10px"  ng-model="narrow.keyValue">
     &nbsp;&nbsp; <button class="btn btn-primary" ng-click='narrow.search()'>Button</button>
    </div>
    <div class="row">
     <!-- found-items should be implemented as a component -->
     <p>Example : Lets Try "soup,chicken".</p>
     <h2>Founded Items :</h2>
     <found-items items="narrow.items" error-msg="narrow.error" key-value="narrow.keyValue"></found-items>
     <ul>
       <li ng-repeat="item in narrow.items"><b>Name: </b>{{item.name}}<br><b>Description::</b>{{item.description}}</li>
     </ul>
     <div>{{narrow.errormsg}}</div>
    </div>
  
 </div>
 
</body>
 <!-- <body>
   <div class="container" ng-app='NarrowItDownApp'>
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <br><br>
    <br><br>
    <div ng-controller='NarrowItDownController as menu'>
      <input type="text" placeholder="search term" ng-model="txtbox" class="form-control">&nbsp;&nbsp;
      <button class="btn btn-primary" ng-click="CheckSearch()">Narrow It Down For Me!</button>
     
      <ul>
        <li ng-repeat="items in  menu.menu_items">
          (<a href="" ng-click="menu.logMenuItems(items.short_name);">{{ items.short_name }}</a>)
          {{ items.short_name }}</li>
      </ul>
        <!-- <found-item items="menu.items"></found-item> -->
        <!-- <li ng-repeat="category in menu.categories">
          {{category.name}} <button class="btn btn-primary" ng-click="Remove_item()">Remove it</button>
        </li>  -->
    </div>
  </div>

</body> -->
</html>
